@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);


body {
	margin: 0 auto;
	width: 80%; 
}

.main_header {
	background-color: burlywood;
	height: 200px;
}


/* css for navigation menu */

ul{
	list-style-type: none;
}

ul.main_nav {
	text-align: right; 
	display: block; 
	margin-right: 30px; 
}

ul.main_nav li {
	display: inline-block;
	font-family: arial; 
	font-size: 20px; 
	padding: 20px; 
	
}

ul.main_nav li:hover {
	background-color: #990000;
}

ul.main_nav a {
	display: block; 
	color: white;
	font-weight: bold;
}



/*css for submusic menu*/

ul.sub_music_menu {
	display: none; 
	position: absolute;
	padding: 0px;
	margin-left: -20px;
	
}

ul.sub_music_menu:hover, ul.sub_music_menu a {
	background-color: #990000;
}

ul.sub_music_menu li {
	display: block;
	text-align: left;
	background-color: #990000;
}

ul.main_nav li:hover ul.sub_music_menu {
	display: block;
}

/*css for 700px menu and banner*/


ul.banner_700px {
	display: none;
}

ul.menu_700px {
	display: none; 
}

/*css for main header and logo */

.note_logo {
	margin-left: 25px; 
}

.main_logo {
	display: inline-block; 
	font-family: 'Permanent Marker', cursive;
	margin-left: 25px; 
	font-size: 45px; 
}

/*css for image*/

.top_photo_border {
	width: 100%;
	height: 50px;
	background-color: black;
	border-top: 4px #990000 solid; 
	border-bottom: 4px #990000 solid;
}

.index_image, .index_image img {
	width: 100%;
	height: 15em;
}


/*css for bio info*/
.index_image_bio {
	width: 100%;
	height: 25em;
	margin-bottom: -15px;
	overflow: scroll;
	background-image: url("../images/andrew_photo_bw.jpg");
}

.index_image_bio p {
	color: black;
	background-color: white;
	margin-left: 500px;
	width: 49%;
	font-size: 17px;
	padding-top: 5px; 
	z-index: 1;
	position: relative;
	opacity: .75;

}

/*css for bottom photo border*/

.bottom_photo_border {
	width: 100%;
	height: 50px;
	background-color: black;
	border-top: 4px #990000 solid; 
	border-bottom: 4px #990000 solid;
}

/*special z-index for bio page*/
.bottom_photo_border_bio {
	z-index: 2;
	position: relative;
}

.site_links_row_bio {
	z-index: 2;
	position: relative;
}

/*css for site links*/

.site_links_row {
	display: block;
	width: 100%;
	height: 15em;
	background-color: #d69871;
}

.site_links_credit {
	display: inline-block;
	width: 25%;
	margin-left: 110px;
}

.site_links_credit img {
	width: 80%;
	height: 50px;
	border-radius: 4px black solid;
}

.site_links_listen_to_tracks {
	display: inline-block;
	width: 25%;
	margin-left: 23px;
}

.site_links_listen_to_tracks img {
	width: 80%;
	height: 50px;
	border-radius: 4px black solid;
}

.site_links_contact {
	display: inline-block;
	width: 25%;
	margin-left: 23px; 
}

.site_links_contact img {
	width: 80%;
	height: 50px;
	border-radius: 4px black solid;
}

.site_links_list {
	display: none;
}

.site_footer_950px {
	display: none;
}

.site_footer {
	background-color: #d69871;
	height: 75px;
}

.wordpress_text, .footer_text_right {
	display: inline-block;
	color: white;
}

.wordpress_text {
	width: 49%;
	float: left;
}

.wordpress_text p {
	margin-left: 25px; 
}

.footer_text_right {
	width: 49%;
	float: left;
}

.footer_text_right p {
	display: inline-block;
	margin-left: 50px; 
}

/* css for responsive design */

@media screen and (max-width : 1375px) {
	.footer_text_right p {
		margin-left: 25px; 
	}

}

@media screen and (max-width : 1150px) {
	body {
		width: 100%;
	}

	.footer_text_right p {
		margin-left: 30px; 
	}
}

@media screen and (max-width: 950px) {

	.site_footer {
		display: none;
	}

	.site_footer_950px {
		display: block;
		height: 200px; 
		text-align: center;
	}

}

@media screen and (max-width : 700px) {

	html {
		margin-top: -12px; 
	}

	.main_header{
		height: 200px;
	}

	ul.main_nav {
		display: none; 
	}

	ul.banner_700px {
		border-top: 4px #990000 solid; 
		border-bottom: 4px #990000 solid; 
		display: block;
		width: 100%;
		height: 25px;
		background-color: black; 
	}

	ul.banner_700px li {
		display: block;
		color: white;
		width: 100%;
		text-align: center; 
	}

	ul.banner_700px li:hover {
		color: gold;
	}

	ul.menu_700px {
		border-top: 4px #990000 solid; 
		border-bottom: 4px #990000 solid; 
		display: none;
		width: 100%;
		height: 200px;
		background-color: black; 
	}
	
	ul.menu_700px li {
		display: block;
		color: white;
		text-align: center; 
		padding-top: 6px;
	}

	ul.menu_700px li:hover {
		color: gold;
	}

	.header_logo{
		position: absolute;
	}

}

@media screen and (max-width : 675px) {

	.site_links_list {
		display: block;
		list-style: none;
		width: 100%;
		height: 10em;
		background-color: #d69871;
		font-weight: bold; 
		
	}

	.site_links_list li {
		padding: 20px 0px 0px 15px; 
	}

	.site_links_row {
		display: none; 
	}

@media screen and (max-width : 640px) {

	.note_logo {
		display: none;
	} 

}

@media screen and (max-width : 540px) {
	.main_logo {
		font-size: 35px; 
	}
} 

@media screen and (max-width : 450px) {
	.main_logo {
		font-size: 30px; 
	}
} 
